{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    
    <title>Inventory list</title>
</head>
<body>
    <button class="btn">
        <span class="price"> <a  href = "{%url 'inventory-create'%}">Create new item</a>
        </span>
        
      
      
    </button>
<br>
<br>
<br>
    <form>
        <input type="text" name="q">
        <input type="submit" value="Search">

    </form>
    {% for object in object_list%}
            
    <div id="container">	
	
        <div class="product-details">
            
        <h1>{{object.name}}</h1>
    
            
                <p class="information">Quantity:{{object.quantity}}</p>
                <p class="information">Price:{{object.price}}</p>

    
            
            
    <div class="control">
        
        <button class="btn">
         <span class="price"> <a  href = "{% url 'inventory-update' object.id%}">Update</a></span>
         
       
       
     </button>
     <button class="btn">
        <span class="price"> <a  href = "{% url 'inventory-delete' object.id%}">Delete</a>
        </span>
        
      
      
    </button>
        
    </div>
                
    </div>
        
    <div class="product-image">
        
        <img src="{{object.image}}" alt="{{object.name}}" />
        
    
    <div class="info">
        <h2> Description</h2>
        <ul>
            {{object.description}} 
            
            
        </ul>
    </div>
    </div>
    
    </div>
    {% endfor %}
    
    
    
    
</body>
</html>